@model BlockViewModel

@{
    ViewBag.Title = "Block - " + Model.Hash;
}
@section scripts
{
    @Scripts.Render("~/Scripts/app/block/index.js")
}
<div class="container pd">
    <header class="top-nav-links clearfix">
        <h1>Block @Model.Height</h1>
        <div class="block-h-top">@Model.Hash</div>
    </header>

    <div class="page-content">
        <div class="row">
            <div class="col-md-6">
                <table class="table table-rounded ">
                    <tbody>
                        <tr>
                            <td class="no-wrap">Hash</td>
                            <td class="expand-column">@Model.Hash</td>
                        </tr>
                        <tr>
                            <td class="no-wrap">Date</td>
                            <td class="expand-column">@($"{Model.Time:F}")</td>
                        </tr>
                        <tr>
                            <td class="no-wrap">Height</td>
                            <td class="expand-column">@Model.Height</td>
                        </tr>

                        @if (Model.TotalTransactions != 0)
                        {
                            <tr>
                                <td class="no-wrap">Total transactions</td>
                                <td class="expand-column">@Model.TotalTransactions</td>
                            </tr>
                        }
                        @if (!string.IsNullOrEmpty(Model.PreviousBlock))
                        {
                            <tr>
                                <td class="no-wrap">Previous block</td>
                                <td class="expand-column"><a href="@Url.Action("Index", "Block", new { id = Model.PreviousBlock })">@Model.PreviousBlock</a></td>
                            </tr>
                        }
                        @if (Model.Difficulty != 0)
                        {
                            <tr>
                                <td class="no-wrap">Difficulty</td>
                                <td class="expand-column">@($"{Model.Difficulty:N}")</td>
                            </tr>
                        }
                        @if (!string.IsNullOrEmpty(Model.MerkleRoot))
                        {
                            <tr>
                                <td class="no-wrap">Merkle Root</td>
                                <td class="expand-column">@Model.MerkleRoot</td>
                            </tr>
                        }
                        @if (Model.Nonce != 0)
                        {
                            <tr>
                                <td class="no-wrap">Nonce</td>
                                <td class="expand-column">@Model.Nonce</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <hr>
        @Html.Partial("~/Views/Transaction/TransactionIdList.cshtml", Model.TransactionIdList)
    </div>

</div>