@model IEnumerable<AssetViewModel>
@{
    ViewBag.Title = "Asset Directiory";
}

<header class="top-nav-links clearfix">
    <h1>Assets directory</h1>
</header>
<div class="page-content">
    <div class="table-responsive">
        <table class="table table-striped table-rounded no-vertical-border">
            <thead>
                <tr>
                    <th></th>
                    <th>Asset</th>
                    <th>Issuer</th>
                    <th>Ticker</th>
                    <th>Color address</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var asset in Model.OrderBy(p => p.Name))
            {
                    <tr>
                        <td><img class="asset-icon" src="@(asset.IconUrl??"/images/placeholder.png")" /></td>
                        <td><a href="@Url.Action("Index", new {id=asset.AssetIds.FirstOrDefault()})">@asset.Name</a></td>
                        <td>@asset.Issuer</td>
                        <td>@asset.NameShort</td>
                        <td>@string.Join(", ", asset.AssetIds)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
  
</div>
