@using Common
@model AssetDirectoryViewModel
@{
    ViewBag.Title = "Asset Directiory";
}

<section class="section section--be section--padding">
    <div class="container container--extend">

        <div class="page__header">
            <h2 class="page__title">ASSETS DIRECTORY</h2>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="table-responsive">
                    <table class="table table--asstes table--be_info">
                        <tbody>
                        <tr>
                            <th colspan="2">Asset</th>
                            <th>Issuer</th>
                            <th>Ticker</th>
                            <th>Coinholders</th>
                            <th>Coins issued</th>
                        </tr>
                            @foreach (var asset in Model.Assets.OrderByDescending(p => p.IsVerified).ThenBy(p=>p.Name))
                            {
                                <tr>
                                    <td>
                                        @if (!string.IsNullOrEmpty(asset.IconUrl))
                                        {
                                            <a href="@Url.Action("Index", new {id = asset.AssetIds.FirstOrDefault()})"><img src="@asset.IconUrl" width="48" alt="@asset.Name"></a>
                                        }
                                        <p class="text-muted">@string.Join(", ", asset.AssetIds)</p>
                                       
                                    </td>
                                    <td><a href="@Url.Action("Index", new {id=asset.AssetIds.FirstOrDefault()})">@asset.Name</a></td>
                                    <td>
                                        <span class="glyphicon glyphicon-@(asset.IsVerified ? "ok-sign" : "remove-sign")"></span>
                                        @asset.Issuer
                                    </td>
                                    <td>@asset.NameShort</td>
                                    <td>@asset.CoinholdersCount</td>
                                    <td>
                                        @if (asset.TotalColored != null)
                                        {
                                            @asset.TotalColored.Value.ToStringBtcFormat() @asset.NameShort
                                        }
                                        
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
