@model AssetViewModel
@{
    ViewData["Title"] = "Asset - " + string.Join(", ", Model.AssetIds);

}

<header class="top-nav-links clearfix">
    <h1>@Model.Name</h1>
    <div class="block-h-top">@Model.AssetIds.FirstOrDefault()</div>
</header>

<div class="row">
    <div class="col-md-3">
        <p class="thumbnail">
            @if (string.IsNullOrEmpty(Model.ImageUrl))
            {
                <img src="/images/placeholder.png" />
            }
            else
            {
                <img src="@Model.ImageUrl" alt="">
            }
        </p>
    </div>
    <div class="col-md-9">
        <div>
            <table class="table table-striped table-rounded no-vertical-border">
                <tbody>
                    <tr>
                        <td class="no-wrap">Asset ID</td>
                        <td class="expand-column">@string.Join(", ", Model.AssetIds)</td>
                    </tr>
                    <tr>
                        <td class="no-wrap">Ticker</td>
                        <td class="expand-column">@Model.NameShort</td>
                    </tr>
                    <tr>
                        <td class="no-wrap">Type</td>
                        <td class="expand-column">@Model.Type</td>
                    </tr>
                    <tr>
                        <td class="no-wrap">Issuer</td>
                        <td class="expand-column">

                            @if (Model.Issuer == null)
                            {
                                <span>Unknown issuer</span>

                            }
                            else
                            {
                                <span>
                                    @Model.Issuer
                                </span>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td class="no-wrap">Divisibility</td>
                        <td class="expand-column">
                            @if (Model.Divisibility == 0)
                            {
                                <span>Indivisible</span>
                            }
                            else
                            {
                                <span>Divisible to @Model.Divisibility places</span>
                            }
                        </td>
                    </tr>
                </tbody>
            </table>
            <h3>Contract Details</h3>
            <blockquote class="description-block" style="margin-bottom: 70px;">
                @if (string.IsNullOrEmpty(Model.Description))
                {
                    <p>No description is available.</p>
                }
                else
                {
                    <p>@Model.Description</p>
                }

            </blockquote>
        </div>
    </div>
</div>