@using Common
@model AssetCoinholdersViewModel
@{
    ViewData["Title"] = "Asset Owners - " + string.Join(", ", Model.Asset.AssetIds);
    Layout = null;
}

<div>
    <div class="pull-right">
        @if (Model.Pagination.ShowPrev)
        {
            <a title="First block" class="js-load-panel-loader" data-load-container="#owners" href="@Url.Action("OwnersHistory", new {at=Model.Pagination.Start})"><i class="icon icon--arrow-left-alt"></i></a>
            <a title="Previous change" class="js-load-panel-loader" data-load-container="#owners" href="@Url.Action("OwnersHistory", new {at=Model.Pagination.PrevBlock})"><i class="icon icon--arrow-left-alt"></i></a>
        }
        @if (Model.Pagination.ShowCurrentBlock)
        {
            <span>@Model.Pagination.AtBlock</span>
        }

        @if (Model.Pagination.ShowNext)
        {
            <a title="Next change" class="js-load-panel-loader" data-load-container="#owners" href="@Url.Action("OwnersHistory", new {at = Model.Pagination.NextBlock})"><i class="icon icon--arrow-right-alt"></i></a>
            <a title="Last block"  class="js-load-panel-loader" data-load-container="#owners" href="@Url.Action("Owners")"><i class="icon icon--arrow-right-alt"></i></a>
        }
    </div>
</div>

<div class="table-responsive">
    <table class="table table--be_info">
        <tbody>
            <tr>
                <th>Address</th>
                <th>Ownership</th>
                <th>Amount</th>
            </tr>
            @foreach (var addressSum in Model.AddressSummaries)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("Index", "Address", new {id = addressSum.Address})">@addressSum.Address</a>
                    </td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70"
                                 aria-valuemin="0" aria-valuemax="100" style="width:@addressSum.BalancePercenage.ToString("F0")%">
                                <span style="color: #3F4D60;">@addressSum.BalancePercentageDescription %</span>
                            </div>
                        </div>

                    </td>
                    <td>
                        @addressSum.Balance.ToStringBtcFormat() @Model.Asset.NameShort
                        @if (addressSum.ChangeAtBlock != 0)
                        {
                            <span class="label @(addressSum.ChangeAtBlock>0?"label-success":"label-danger")">@addressSum.ChangeAtBlock.ToStringBtcFormat()</span>
                        }

                    </td>
                </tr>
            }
            <tr>
                <td colspan="2">Total</td>
                <td>@Model.Total.ToStringBtcFormat() @Model.Asset.NameShort</td>
            </tr>
        </tbody>
    </table>
</div>