@using Common
@model AssetCoinholdersViewModel
@{
    ViewData["Title"] = "Asset Owners - " + string.Join(", ", Model.Asset.AssetIds);
    Layout = null;
}

<section class="section section--heading">
    <div class="container">
        <div class="row">
            <div class="col-xs-5 col-sm-4">
                <h3>Coinholders <span>@Model.CoinholdersCount</span></h3>
            </div>
            <div class="col-xs-7 col-sm-8">
                <div class="block_nav">
                    <form class="js-coinholders-history-form" action="@Url.Action("OwnersHistory", "Asset", new {id=Model.Asset.AssetIds.FirstOrDefault()})">
                        @if (Model.Pagination.ShowPrev)
                        {
                            <div class="block_nav__left">
                                <a class="btn btn--icon js-change-go-to-block" title="@Model.Pagination.PrevBlock" data-block="@Model.Pagination.PrevBlock"><i class="icon icon--arrow_left_big"></i></a>
                             @*   <a class="btn btn--icon js-change-go-to-block" data-block="1"><i class="icon icon--arrow_left_big"></i></a>*@
                            </div>
                        }
                        <div class="block_nav__field">
                            <label class="control-label" for="js-go-to-block">Block:</label>
                            <input type="text" class="form-control js-submit-on-change " id="js-go-to-block" name="at" value="@Model.Pagination.AtBlock">
                        </div>
                        @if (Model.Pagination.ShowNext)
                        {
                            <div class="block_nav__right">
                                <a class="btn btn--icon js-change-go-to-block" title="@Model.Pagination.NextBlock" data-block="@Model.Pagination.NextBlock"><i class="icon icon--arrow_right_big"></i></a>
                            </div>
                        }
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section js-coinholders-data">
    <div class="container">
        <div class="table-responsive">
            <table class="table table--simple table_coinholders">
                <tr>
                    <th class="_address">Address</th>
                    <th class="_amount text-right">Amount</th>
                    <th class="_ownership">Ownership</th>
                    <th class="_value">&nbsp;</th>
                </tr>
                @foreach (var addressSum in Model.AddressSummaries)
                {
                    <tr>
                        <td class="_address">
                            <a href="@Url.Action("Index", "Address", new {id = addressSum.Address})">
                                @UiHelpers.Truncate(addressSum.Address)
                            </a>
                        </td>
                        <td class="_amount text-right">
                            @addressSum.Balance.ToStringBtcFormat() @Model.Asset.NameShort
                            @if (addressSum.ChangeAtBlock != 0)
                            {

                                <span class="_change text--green">@addressSum.ChangeAtBlock.ToStringBtcFormat()</span>
                            }
                        </td>
                        <td class="_ownership">
                            @addressSum.BalancePercentageDescription %
                        </td>
                        <td class="_value">
                            <div class="ownership_value" style="width: @addressSum.BalancePercenage.ToString("F0")%"></div>
                        </td>
                    </tr>
                }

                <tr class="_total">
                    <th>Total</th>
                    <td class="_ownership text-right">&nbsp;</td>
                    <th colspan="2" class="_amount">@Model.Total.ToStringBtcFormat() @Model.Asset.NameShort</th>
                    <th>&nbsp;</th>
                </tr>
            </table>
        </div>
    </div>
</section>