@model AddressTransactionsViewModel
@{
    Layout = null;
}

<section class="section section--heading">
    <div class="container">
        <div class="mobile-scroll">
            <div class="tabs_stack pull-right js-tx-toggle-container">
                <div class="tab_item js-tab_item tab_item--active"><a class="tab_item__link js-tx-toggle" href="#js-all-tx">All</a></div>
                <div class="tab_item js-tab_item"><a class="tab_item__link js-tx-toggle" href="#js-send-tx">Send</a></div>
                <div class="tab_item js-tab_item"><a class="tab_item__link js-tx-toggle" href="#js-received-tx">Received</a></div>
            </div>
        </div>
    </div>
</section>
@*<section class="section section-header">
    <div class="pull-right">
        <div class="btn-group js-tx-toggle-container toggle-container">
            <a class="js-tx-toggle btn active" href="#js-all-tx">All (@Model.AllTransactionIdList.TotalItems)</a>
            <a class="js-tx-toggle btn" href="#js-send-tx">Send (@Model.SendTransactionIdList.TotalItems)</a>
            <a class="js-tx-toggle btn" href="#js-received-tx">Received (@Model.ReceivedTransactionIdList.TotalItems)</a>
        </div>
    </div>   
</section>*@

<section class="section section--transactions">
    <div id="js-tx-select-result-container">

        <div id="js-all-tx" class="js-select-result">
            @Html.Partial("~/Views/Transaction/TransactionIdList.cshtml", Model.AllTransactionIdList)
        </div>

        <div id="js-send-tx" class="hidden js-select-result">
            @Html.Partial("~/Views/Transaction/TransactionIdList.cshtml", Model.SendTransactionIdList)
        </div>

        <div id="js-received-tx" class="hidden js-select-result">
            @Html.Partial("~/Views/Transaction/TransactionIdList.cshtml", Model.ReceivedTransactionIdList)
        </div>
    </div>
</section>