@model AddressTransactionsViewModel
@{
    Layout = null;
}

<div class="pull-right">
    <div class="btn-group js-tx-toggle-container toggle-container">
        <a class="js-tx-toggle btn active" href="#js-all-tx">All (@Model.AllTransactionIdList.TotalItems)</a>
        <a class="js-tx-toggle btn" href="#js-send-tx">Send (@Model.SendTransactionIdList.TotalItems)</a>
        <a class="js-tx-toggle btn" href="#js-received-tx">Received (@Model.ReceivedTransactionIdList.TotalItems)</a>
    </div>
</div>

<div id="js-tx-select-result-container">
    <div id="js-all-tx" class="js-select-result">
        @Html.Partial("~/Views/Transaction/TransactionIdList.cshtml", Model.AllTransactionIdList)
    </div>

    <div id="js-send-tx" class="hidden js-select-result">
        @Html.Partial("~/Views/Transaction/TransactionIdList.cshtml", Model.SendTransactionIdList)
    </div>

    <div id="js-received-tx" class="hidden js-select-result">
        @Html.Partial("~/Views/Transaction/TransactionIdList.cshtml", Model.ReceivedTransactionIdList)
    </div>
</div>