@using System.Security.Claims
@using BCNExplorer.Web.Helpers
@{

    var hideTopSearchForm = (ViewBag.HideTopSearchForm != null && ViewBag.HideTopSearchForm is bool) ? ViewBag.HideTopSearchForm : false;
}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 ie7"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9 ie8"> <![endif]-->
<!--[if IE 9]>         <html class="no-js ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Lykke - @ViewBag.Title</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!--<meta name="viewport">-->

    <link rel="apple-touch-icon" sizes="180x180" href="~/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="~/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="~/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="~/manifest.json">
    <link rel="mask-icon" href="~/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="~/css/bootstrap-custom.min.css">
    <link rel="stylesheet" href="~/css/style.css">

    <!--[if lte IE 9]>
        <script type="text/javascript" src="~/js/vendor/html5shiv.js"></script>
    <![endif]-->

    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-68151354-1', 'auto');
        ga('send', 'pageview');

    </script>

    @RenderSection("headerscripts", required: false)
</head>

<body class="new_page">

<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-xs-2 col-md-4">
                <a href="/" class="logo header__logo">
                    <img src="/img/logo-lykke.svg" height="38" alt="">
                    <span class="header__title hidden-xs hidden-sm"><b>Blockchain</b>Explorer</span>
                </a>
            </div>
            <div class="col-xs-8 col-md-4 text-center">
                <div class="input-search">
                    @if (!hideTopSearchForm)
                    {
                        <div class="input-search">
                            <form method="get" action="@Url.Action("Search", "Search")">
                                <button type="submit" class="btn btn--icon"><i class="icon icon--search"></i></button>
                                <input type="text" name="id" class="form-control form-control--search" placeholder="Search block, address, transaction">
                            </form>
                        </div>
                    }
                </div>
            </div>
            <div class="col-xs-2 col-md-4">
                @if (!User.Identity.IsAuthenticated)
                {
                    <a href="@Url.Action("SignIn", "Security")" class="btn btn-link pull-right">Sign In</a>
                }
                else
                {
                    <ul class="nav nav--header pull-right">
                        <li class="pull-right">
                            <a class="dropdown__control" >@ClaimsHelper.Get(User.Identity, ClaimTypes.GivenName) @ClaimsHelper.Get(User.Identity, ClaimTypes.Surname)</a>
                            <div class="dropdown__container">
                                <ul class="dropdown__nav">
                                    <li>
                                        <a href="@Url.Action("SignOut", "Security")">Sign Out</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                }
            </div>


        </div>
    </div>
</header>
<article class="content page">
    <div class="page_border"></div>
    @RenderBody()

</article>

<footer class="footer page__footer">
    <div class="footer__bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-sm-6 text-right pull-right">
                    <div class="clearfix">
                        <ul class="social social--footer_alt">
                            <li><a href="https://lykke.com/" target="_blank"><i class="icon icon--lykke"></i></a></li>
                            <li><a href="https://www.facebook.com/groups/542506412568917/" target="_blank" class="social__item"><i class="icon icon--fb_simple"></i></a></li>
                            <li><a href="https://twitter.com/LykkeCity" target="_blank" class="social__item"><i class="icon icon--tw"></i></a></li>
                            <li><a href="http://instagram.com/lykkecity" target="_blank" class="social__item"><i class="icon icon--instagram"></i></a></li>
                            <li><a href="https://www.youtube.com/channel/UCmMYipGdKMF0kzfaE-PXsNQ" target="_blank" class="social__item"><i class="icon icon--youtube"></i></a></li>
                            <li><a href="https://www.linkedin.com/company/lykke-ag" target="_blank" class="social__item"><i class="icon icon--linkedin-icn"></i></a></li>
                            <li><a href="https://www.reddit.com/r/lykke/" target="_blank" class="social__item"><i class="icon icon--reddit"></i></a></li>
                            <li><a href="https://t.co/TmjMYnQD7T" target="_blank" class="social__item"><i class="icon icon--telegram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 text-left">
                    <div class="footer__copy">
                        © Lykke 2016. All rights reserved
                        <span class="middot">·</span>
                        <a href="https://lykke.com/city/terms_of_use">Terms of Use</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="~/js/vendor/jquery.min.js"></script>
<script src="~/js/vendor/bootstrap.min.js"></script>
<script src="~/js/vendor/fastclick.min.js"></script>
<script src="~/js/vendor/clipboard.min.js"></script>
<script src="~/js/functions.js"></script>
<script>
    if ($('.section--search').length) {
        $('html').addClass('full_height');
    }
</script>
@RenderSection("scripts", required: false)
</body>
</html>
