@model IEnumerable<TransactionViewModel>

@{
    Layout = null;
}

@foreach (var tran in Model)
{
    var divclass = tran.IsColor ? "colortr" : "";
    <br>
    <div class="panel panel-success transaction-details @divclass">
        <div class="panel-heading row">
            <h3 class="panel-title address-transaction-header col-sm-7">
                <a href="@Url.Action("Index", "Transaction", new { id = tran.TransactionId })">@tran.TransactionId</a>
            </h3>
            @if (tran.IsConfirmed)
            {
                <div class="col-sm-3 tr-date ">
                    <span>@tran.Block.Time.ToString("F")</span>
                    
                </div>
                <div class="confirmation-label confirmed col-sm-2">
                    <span class="confirmations-count">@tran.Block.Confirmations confirmation</span>
                </div>
            }
            else
            {
                <div class="col-sm-3 text-center tr-date">

                </div>
                <div class="col-sm-2 text-center confirmation-label not-confirmed">
                    <span class="confirmations-count">Unconfirmed</span>
                </div>
            }

        </div>

        <ul class="list-group">
            <li class="list-group-item clearfix intput-output-group-list-item">
                <div class="intput-output-group show-details">
                    @Html.Partial("TransactionDetails", tran)
                </div>
            </li>

        </ul>

    </div>

}