@model TransactionIdList

<h3 class="transactions-header">@Model.TotalItems Transactions</h3>
<ul class="transactions-list">
    @foreach (var page in Model.Pages)
    {
        <li
            class="@(Model.CurrentPage != page ? "hidden" : "") transactions-container transactions-container-load"
            data-page="@page"
            data-transaction-ids="@Json.Encode(Model.GetPage(page).ToArray())" data-load-url="@Url.Action("List", "Transaction")">
            
        </li>
    }
</ul>


<div class="footer-push">
    <div class="text-center">
        <ul id="transaction-pagination-container" class="pagination transaction-pagination-container" data-total-pages="@Model.TotalPages"></ul>
    </div>
</div>
