@model TransactionViewModel
@{
    Layout = null;
}

@*<div class="transaction_view  transaction_view--colored">

    <div class="table-responsive">

        <div class="transaction_view__table">
            <table class="table table--transaction_view">
                <tbody>
                    <tr class="table__header">
                        <th colspan="6">
                            <div class="transaction_view__title">Bitcoin</div>
                        </th>
                    </tr>
                    <tr class="table__content">
                        <td class="transaction_view__logo"><img src="/img/assets/bitcoin.png" width="48" alt=""></td>

                        @if (Model.Bitcoin.IsCoinBase)
                        {
                            <td>
                                <div class="transaction_view__line"><i class="icon icon--info"></i> Mined coins</div>
                            </td>
                        }
                        else
                        {
                            <td>
                                @foreach (var input in Model.Bitcoin.AggregatedIns)
                                {
                                    @RenderInOut(input.TitleItem)
                                    if (input.ShowAggregatedTransactions)
                                    {
                                        <div class="hidden-transactions">
                                            @foreach (var aggregated in input.AggregatedTransactions)
                                            {
                                                @RenderInOut(aggregated)
                                            }
                                        </div>
                                    }

                                }
                                <div class="transaction_view__line"><a href=""><i class="icon icon--arrow-left-alt"></i> 1CgfHZpUcKsqBemkiMpvX3YxhcQ9xz3TFK</a>
                                </div>
                                <div class="transaction_view__line"><a href=""><i class="icon icon--arrow-left-alt"></i> 1CgfHZpUcKsqBemkiMpvX3YxhcQ9xz3TFK</a>
                                </div>
                            </td>
                            <td>
                                <div class="transaction_view__line">-0.0093</div>
                                <div class="transaction_view__line">-0.002994</div>
                            </td>
                        }
                            <td class="transaction_view__arrow">
                                <div class="colored_arrow"></div>
                            </td>
                            <td>
                                <div class="transaction_view__line">1NWsQNtndRiumZ93P8vzvE2pVABWeP1RSw</div>
                                <div class="transaction_view__line">Fees</div>
                            </td>
                            <td>
                                <div class="transaction_view__line">0.012194</div>
                                <div class="transaction_view__line">0.0001</div>
                            </td>


                    </tr>

                    <tr class="table__header">
                        <th colspan="6">
                            <div class="transaction_view__title">Russian Ruble Colored Coin <span>AQNL67PmuN176tiSfb3179oH8DszCRjZuo</span></div>
                        </th>
                    </tr>
                    <tr class="table__content">
                        <td class="transaction_view__logo"><img src="/img/assets/bitcoin.png" width="48" alt=""></td>
                        <td>
                            <div class="transaction_view__line"><a href=""><i class="icon icon--info"></i> Issued assets</a></div>
                        </td>
                        <td>
                            <div class="transaction_view__line">-500</div>
                        </td>
                        <td class="transaction_view__arrow">
                            <div class="colored_arrow"></div>
                        </td>
                        <td>
                            <div class="transaction_view__line"><a href="">1NWsQNtndRiumZ93P8vzvE2pVABWeP1RSw</a></div>
                        </td>
                        <td>
                            <div class="transaction_view__line">500,00</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>



@helper RenderInOut(IInOutViewModel inOutViewModel)
{
    <div class="address-item " data-address="@inOutViewModel.Address">
        <div class="amount @(inOutViewModel.ShowAggregatedTransactions? "js-toggle-aggregated toggle-aggregated" : "")">
            @inOutViewModel.ValueDescription
            @if (inOutViewModel.ShowAggregatedTransactions)
            {
                <span class="aggregate-toggle">
                    (@inOutViewModel.AggregatedTransactionCount)
                    <span class="glyphicon glyphicon-triangle-bottom toggle-indicatior"></span>
                </span>
            }
        </div>
        <div class="address">
            @if (inOutViewModel.ShowPreviousTransaction)
            {
                <a href="@Url.Action("Index", "Transaction", new {id = inOutViewModel.PreviousTransactionId})" class="prev-tran">
                    <img src="~/Images/previ-tran.png" />
                </a>

            }
            @if (inOutViewModel.IsUnrecoginzedAddress)
            {
                <span>Unrecognized address</span>
            }
            else
            {
                <a href="@Url.Action("Index", "Address", new {id = inOutViewModel.Address})">@inOutViewModel.Address</a>
            }
        </div>
    </div>
}*@