@using BCNExplorer.Web.Helpers
@model OffchainTransactionDetailsViewModel
@{
    Layout =null;

    var lastOnChain = Model.FilledChannel.CloseTransaction ?? Model.FilledChannel.OpenTransaction;
    var lastOnChainConfirmed = lastOnChain?.IsConfirmed ?? false;
}

<div class="container ">
    <div class="page__header">
        <h2 class="page__title">Off-Chain Transaction</h2>
        <div class="address_code address_code--lead">
            <span>@Model.Transaction.TransactionId</span>
            <button class="btn btn--icon copy_code" type="button" title="Copy code">
                <i class="icon icon--copy"></i>
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-6">
            <table class="table table--be_info">
                <tbody>
                @if (lastOnChainConfirmed)
                {
                    <tr>
                        <td><b>Date:</b></td>
                        <td>@(lastOnChain.Block.Time.ToStringBcnExplolerFormat())</td>
                    </tr>
                }
                <tr>
                    <td><b>Assets transacted:</b></td>
                    <td>@(Model.Transaction.Asset.IsColored ? 1 : 0)</td>
                </tr>
                <tr>
                    <td><b>Confirmations:</b></td>
                    <td>
                        @if (lastOnChainConfirmed)
                        {
                            <span>@(lastOnChain.Block.Confirmations)</span>
                        }
                        else
                        {
                            <span>Unconfirmed</span>
                        }
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-12 col-md-6">
            <table class="table table--be_info">
                <tbody>
                @if (lastOnChainConfirmed)
                {
                    <tr>
                        <td><b>Block:</b></td>
                        <td>
                            <a href="@Url.Action("Index", "Block", new {id = lastOnChain.Block.BlockId})">
                                <span class="truncate" title="@lastOnChain.Block.BlockId">@lastOnChain.Block.BlockId</span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td><b>Height:</b></td>
                        <td>@lastOnChain.Block.Height</td>
                    </tr>                       
                }

                </tbody>
            </table>
        </div>
    </div>
</div>