@model OffchainTransactionDetailsViewModel
@{
    
    ViewData["Title"] = "Offchain transaction";
}

@section scripts
{
    @Scripts.Render("~/bundles/js/transaction")
}

<section class="section section--padding">
    @Html.Partial("DetailsTable", Model)
</section>

<section class="section section--transactions">
    @Html.Partial("OffchainTransactionDetails", Model.Transaction)
</section>

<section class="section section--heading">
    <div class="container">
        <h3>Off-chain history</h3>
    </div>
</section>

<section class="section section--transactions">

    @Html.Partial("TransactionDetails", Model.Channel.CloseTransaction)

    @foreach (var tx in Model.Channel.OffChainTransactions)
    {
        @Html.Partial("OffchainTransactionDetails", tx)
    }

    @Html.Partial("TransactionDetails", Model.Channel.OpenTransaction)


</section>